/* * {
    border: 1px solid black;
} */

.flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-container-row-even {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-container-row-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; */
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

.scrollable-container-med {
    height: 30vh;
    overflow-x: hidden;
    border: 1px solid navyblue;
}

.scrollable-container-sm {
    height: 20vh;
    /* max-height: 10%; */
    overflow-x: hidden;
    border: 1px solid navyblue;
    /* background-color: darkgrey; */
}

.card {
    border: 1px solid darkgrey;
    border-radius: 10px;
    margin-bottom: 10px;
}

.message-row{
    border-radius: 10px;
    margin: 1vh;
}

.message {
    font-size: small;
    padding-left: 0.5em;
    vertical-align: center;
}

.date-subdued {
    color: darkgrey;
    padding: 0;
    margin: 0;
    font-size: x-small;
}

.inline-input-text {
    font-size: small;
    border-radius: 10px;
    border: 1px solid darkgrey;
}

.checkbox-container {
    align-items: center;
}

/* Friends List */

.profile-picture {
    height: 10vh;
    width: auto;
}

.friend-container {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid lightgrey;
    border-radius: 15px;

}

.friend-card {
    border: 1px solid lightgrey;
    width: 10vh;
    border-radius: 10px;
    background-color:antiquewhite;
}

.friend-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}